 <h1>DETALLES </h1>
 <div class="card" style="width: 18rem;">
  <img src="{{photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{capacity}}</p>
    <p class="card-text">{{address}}</p>
    <p class="card-text">{{createdAt}}</p>
    <p class="card-text">18/11/2022</p>
    <p class="card-text">${{price}}</p>

  </div>
</div>